<nav id="sidebar-icon-links">
  <a id="author-link"
    class="icon" title="About the author" aria-label="About the author"
    href="https://thisisntnathan.github.io" target="_blank">
  {% include svg/person1.svg %}
  </a>

  <a id="courserepo-link"
    class="icon" title="Course Repo" aria-label="Course Repo"
    href="https://github.com/thisisntnathan/dftShortCourse" target="_blank" target>
  {% include svg/github.svg %} 
  </a>
  <a id="coderepo-link"
    class="icon" title="Code Repo" aria-label="Code Repo"
    href="https://github.com/thisisntnathan/dftCourseCodeRepo" target="_blank">
  {% include svg/codeFilled.svg %}
  </a>

  <a id="pdf-download-link"
    class="icon" title="Download" aria-label="Download"
    href="https://github.com/thisisntnathan/dftShortCourse/archive/refs/heads/main.zip">
  {% include svg/down1.svg %}
  </a>

  <a id="email-link"
    class="icon" title="Email me" aria-label="Email me"
    href="mailto:nml64@cornell.edu" target='_blank'>
  {% include svg/mail.svg %}
  </a>

<!-- 
  <a id="subscribe-link"
     class="icon" title="Subscribe" aria-label="Subscribe"
     href="{{ site.feed.path | default: 'feed.xml' | relative_url }}">
  {% include svg/feed.svg %}
  </a> 
-->

</nav>
